* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-color:#112D4E
}
div{
  height: 20px;
  margin: 30px auto;
  background-color: #3F72AF;
  border: 1px solid #DBE2EF;
  border-radius:5px;
  padding:0 5px;
  position: relative;
  overflow:hidden;
}
#par {
  font-family:sans-serif;
  color:#F9F7F7;
  position: absolute;
  
}